@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: #b2cae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: #ffe599;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.joke-placeholder {
    display: flex;
    align-items: center;
    height: 50%;
}

.joke {
    padding: 20px;
    font-size: 20px;
}

.btn {
    background-color: #ced4da;
    margin-top: 20px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.error-msg {
    width: 50%;
    background-color: firebrick;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
}
